// IMPORTS

@forward '../../config/config';
@use '../../config/config' as *;

// STYLES

.wrapper {
  width: 100%;
  min-width: 300px;
  @include flexSetup(column, center, flex-start);
  
  & > * {
    width: 100%;
  }
}